:root {
--main--header--color: #FED136;
--main--background--color: #fff;
--main--title--color:#222222;
--main--text--color:#777777;
--main--form--color:#BBBBBB;
--main--paragraph--family:"Roboto Slab", serif;
--main--text--family:"Montserrat", sans-serif;
--main--logo--family:"Bilbo Swash Caps", cursive;
}
body {
  font-family:var(--main--text--family);
}
.container
{
  width: 964px;
  padding: 0 15px;
  outline: 2px dashed red;
  margin: 0 auto;
}
.logo {
  padding-right: 300px;
  font-family: var(--main--logo--family);
  font-weight: 400;
  font-size: 36px;
  line-height: 114%;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--main--header--color);
}
.header-nav {
  margin-bottom: 110px;
  display: flex;
}
.header-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 293%;
  text-transform: uppercase;
  text-align: center;
  color: #fed136;
}
.header-nav-list {
  display: flex; 
  gap: 10px;
  font-family: var(--main--text--color);
  font-weight: 400;
  font-size: 14px;
  line-height: 293%;
  text-transform: uppercase;
  text-align: center;
  color: var(--main--header--color);
}
.section {
  margin-bottom: 110px;
}
h1 {
  padding-bottom: 88px;
  text-align: center;
}
.section-list {
  display: flex;
  justify-content: space-between;
}
.section-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}
/* .section-list {
  display: flex;
}
.section-image {
  padding-left: 102px;
}
.section-title {
  padding-left: 62px;
} */
.footer {
  background-color: var(--main--title--color);
}
h2 {
  color: var(--main--background--color);
  text-align: center;
  padding-top: 92px;
  padding-bottom: 114px;
}
/* .sign_up-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 232px;
} */
.button {
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 18px;
  padding-bottom: 28px;
  margin-bottom: 115px;
  display: block;
  margin: 0  auto;
  border: none;
  text-align: center;
  background-color: #FED136;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  font-family: var(--main--text--family);
}
.first-wrapper {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.form-list {
  margin-bottom: 27px;
  display: flex;
  justify-content: center;
} 
.text-area {
  margin-left: 28px;
  width: 458px;
  height: 212px;
}
.placeholder-name {
  width: 455px;
  height: 50px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #bbb;
}
.placeholder-email {
  width: 455px;
  height: 50px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #bbb;
}
.placeholder-subject {
  width: 455px;
  height: 50px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #bbb;
}
